server:
  port: 8084

spring:
  application:
    name: application-service
  
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/applyo}
      database: applyo

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.applyo: DEBUG
    org.springframework.data.mongodb: DEBUG
